Node.js and npm
node_modules/
package-lock.json

Next.js
.next/
#.next/build
#.next/server
/out/

IDE and editor files
.vscode/
.idea/
*.iml

OS-specific files
.DS_Store
Thumbs.db

Log files
*.log

Environment variables
*.env*
!.env.local

Build and deployment artifacts
build/
dist/
public/build

Other
!.gitignore
!.env.local
coverage/